// tablet screen like iPad, 768px - 1024px
// all screens lower than 1280px will be displayed as 1024px wide
@include mq($max-width: 1279px) {
    
    /* Side Navigation
    ------------------------------------ */
    #sidenav {
        right: 10px;
    }
    
    /* Header
    ------------------------------------ */
    #nav {
        > li + li {
            margin-left: 12px;
        }
        > li > a {
            font-size: 12px;
        }
    }
    
    // hide header social icons due to not enough room
    .header-center .header-social {
        display: none;
    }
    
    /* Layout
    ------------------------------------ */
    // Narrow down container width
    .container {
        max-width: 940px;
        width: 940px;
    }
    
    // Make padding smaller
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .col {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #page-title {
    }
    
    /* Blog
    ------------------------------------ */
    
    
    /* Widgets
    ------------------------------------ */
    
}

/**
 * Portrait Tablet
 * target screen 768px
 */
@include mq($max-width: 1023px) {
    
    /* Side Navigation
    ------------------------------------ */
    #sidenav {
        display: none;
    }
    
    /* Typography
    ------------------------------------ *
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    
    /* Header
    ------------------------------------ */
    #mobile-nav {
        display: block;
    }
    #masthead.header-sticky {
//        position: static;
    }
    #masthead-height {
//        display: none !important;
    }
    
    #nav,
    .header-social,
    .header-cta {
        display: none;
    }
    #masthead .container {
        position: relative;
    }
    #hamburger {
        display: block;
    }
    #navbar {
        display: none !important;
    }
    #offcanvas .header-cta {
        display: block;
        margin: 20px 0 0;
        a {
            background: white;
            color: #111;
        }
    }
    
    #masthead.header-transparent.header-sticky {
//        position: absolute;
    }
    .admin-bar #masthead.header-sticky {
//        top: 0;
    }
    
    /* Layout
    ------------------------------------ */
    .container {
        width: 724px;
        max-width: 724px;
    }
    
    // Boxed Layout
    .layout-boxed {
        
        background: none; // while screen is narrow, boxed layout has no meaning
        .container {
            width: 724px;
        }
        #page {
            box-shadow: none !important;
            width: 100% !important;
        }
    }
    .has-sidebar {
        #primary,
        #secondary {
            width: 100% !important;
            padding-left: 0;
            padding-right: 0;
            float: none;
        }
    }
    #secondary {
        margin-top: 0;
        padding-top: 0 !important;
    }
    
    /* Blog Standard
    ------------------------------------ */
    .post-standard:not(:first-child) {
        margin-top: 50px;
    }
    .entry-tags {
        margin: 1em 0;
    }
    .post-standard .post-title {
        margin-bottom: 0;
    }
    
    /* Post Slider
    ------------------------------------ */
    
    /* WooCommerce
    ------------------------------------ */
    .header-cart,
    .layout-boxed .header-cart {
        right: 60px;
    }
    // Slider
    //
    .slide-full-caption {
        padding: 0;
    }
    
    // Blog Standard
    // ------------------------------------------
    
    
    // Blog Grid
    // ------------------------------------------
    .blog-size-medium .grid-title,
    .blog-size-large .grid-title {
        font-size: 24px;
    }
    .blog-grid {
        
        .blog-container {
            margin: -36px -12px 0;
        }
        .post-grid {
            padding: 36px 12px 0;
        }
        
        &.column-4,
        &.column-5 {
            .post-grid {
                width: 50%;
            }
        }
        &.column-6 {
            .post-grid {
                width: 33.33%;
            }
        }
    }
    .blog-masonry {
        
        .blog-container {
            margin: -36px -12px 0;
        }
        .post-masonry {
            padding: 36px 12px 0;
        }
        
        &.column-4,
        &.column-5,
        &.column-6 {
            .post-masonry,
            .grid-sizer {
                width: 33.33%;
            }
            
            &.masonry-featured-first .post-masonry:first-child {
                width: 66.66%;
            }
        }
    
    }
    
    // Blog List
    // ------------------------------------------
    // Only small spacing if row layout is 1/2
    .vc_col-sm-6 {
        .list-thumbnail {
            margin-right: 1em;
        }
        .blog-list-thumbnail-align-right .list-thumbnail {
            margin-right: 0;
            margin-left: 1em;
        }
    }
    
    // Footer
    // ------------------------------------------
    .footer-sidebar-wrapper.column-4 {
        
        @include flex-flow( row wrap );
        
        .footer-col {
            width: 50%;
        }
    }
    #footer-sidebar .footer-col {
        
        &:nth-child(3),
        &:nth-child(4) {
            padding-top: 0;
        }
    }
    
}