/*
Theme Name: Dine Child Theme
Theme URI: http://yoursite.com/
Description: A child theme of Hellen
Author: Your Name
Author URI: http://yoursite.com/
Template: dine
Version: 1.0
*/

.logo-row .vc_column_container .vc_column-inner .vc_row .wpb_column .vc_column-inner .wpb_content_element {
    margin-bottom: 0;
}

.page-id-11 #gmap-1 {
    margin-bottom: 0;
}

.page-id-11 #content .container #primary {
    padding-bottom: 0;
}

.logo-row .vc_single_image-img {
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 1.0;
}

.logo-row .vc_single_image-img:hover {
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: .4;
}

h1.home-hero {
    font-size: 72px;
}

.contact-links a {
    color: #333;
}

.contact-links a:hover {
    color: #d1940b;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #d1940b;
}

footer .copyright, footer .copyright a.drive-link {
    color: #ddd;
    font-family: 'Open Sans';
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

footer .copyright a.drive-link:hover {
    color: #d1940b;
}

footer #footer-bottom {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Gravity Forms Contact Form Button */ 
form#gform_2 .gform_footer input.gform_button {
    background-color: transparent;
    border: 2px solid #76472c;
    color: #76472c;
    font-family: "Oswald";
    font-size: 10px;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

form#gform_2 .gform_footer input.gform_button:hover {
    background-color: #76472c;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

/* Gravity Forms Newsletter Button */ 
form#gform_1 .gform_footer input.gform_button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Oswald";
    font-size: 10px;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

form#gform_1 .gform_footer input.gform_button:hover {
    background-color: #fff;
    color: #76472c;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}




@media only screen and (max-width: 480px) {
    /*
    h2                  = 30px
    h3 (home hero)      = 22px
     */
    h1, h1.home-hero {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .home h2.secondary-header {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    /*
    h1                  = 40px
    h3                  = 36px
     */
    
    h1, h1.home-hero {
        font-size: 40px;
    }

    h3 {
        font-size: 36px;
    }
}